.converter{
/* background-color: rgb(26, 26, 59); */
background: linear-gradient(to top right, rgb(101, 74, 221), rgba(28, 7, 107));
margin-top: 10%;
margin-left: 25%;
height:15rem;
border-radius: 5%;
width:40%;
}

.title{
    margin-top: -3rem; 
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 12%;
    text-shadow: 2px 2px 4px black,
    2px 2px 2px rgb(54, 23, 192) ;
    color: rgb(191, 192, 194);
 letter-spacing: 6px;
}

#result{
background-color: white;
margin: 6rem 5rem;
width: 20% auto;
position: absolute;

border:  5px inset rgb(170, 163, 163);
padding: 6px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#A-result{
padding-left: 13px;
}
.mybtn{
  margin-left: 22rem;
  position: absolute;
  margin-top: -3.3rem;
  font-weight: bold;
}
#congrat{
color: red;
margin-left: 19rem;
cursor: pointer;
}


@media only screen and (max-width:387px){
    .converter{
        /* background-color: rgb(26, 26, 59); */
       
        margin-top: 30%;
        margin-left: 0%;
        height:15rem;
        border-radius: 5%;
        width:100%;
        }

        .mybtn{
            margin-left: 3rem;
            
          }
          #congrat{
           text-align: center;
            margin-left: 0rem;
            padding: 5px;
            }

            .title{
               margin-bottom: 4rem;
             line-height: 2rem;
            }

}